HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
.idea/
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
.flattened-pom.xml

# ignore Maven generated target folders
target

.scala_dependencies
.externalToolBuilders

bin

atlassian-ide-plugin.xml
maven-ant-tasks.jar
test-output
classes
.DS_Store
# ignore log files
*.log
logs
.itest
=======
HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
.idea/
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
.flattened-pom.xml

# ignore Maven generated target folders
target

.scala_dependencies
.externalToolBuilders

bin

atlassian-ide-plugin.xml
maven-ant-tasks.jar
test-output
classes
.DS_Store
# ignore log files
*.log
logs
.itest
